<h1>Custom Drink Order</h1>

     
    {{ingredients.[1].ingredient_name}}  
    <div class="wrapper">
        <h2>{{categories.[1].category_name}} </h2>
        <div class="custom-card">
        <img class="Milk" src="/public/images/milkbox.png" alt="Milk box png"></img>
        <form action="#">
            <div class="checkboxes">
            <!-- Checkboxes here -->
            <label><input type="checkbox" name="option1" value="Option 1">  {{ingredients.[6].ingredient_name}} </label><br>
            <label><input type="checkbox" name="option2" value="Option 2">  {{ingredients.[7].ingredient_name}} </label><br>
            <label><input type="checkbox" name="option3" value="Option 3">  {{ingredients.[8].ingredient_name}} </label><br>
            <label><input type="checkbox" name="option3" value="Option 3">  {{ingredients.[9].ingredient_name}} </label><br>
    
            <button id="submitBtn" type="submit">Submit</button>
            </div>
        </form>
    </div>

<script src='/js/customDrink.js'></script>