<head>
    <link rel="stylesheet"  href="/css/customdrink.css">
    <link rel="stylesheet"  href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

 <header>
    <nav>
      {{!-- <header><h1>Moon Dollars</h1></header> --}}
      <ul>
        <li><a href='/'>Home</a></li>
        {{!-- <li><button class='btn btn-logout'id='logoutbtn'>Log Out</button></li> --}}
        <li><a href='/favoriteDrink'>Favorite Drinks</a></li>
        <li><a id="logoutbtn">Log Out</a></li>
      </ul>
    </nav>
  </header>
  
<h1>Custom Drink Order</h1>
<p>Choose from a list of ingredient options to create your own coffee drink recipes!</p>
<form id="drink-form">
    <div class="wrapper question1">
        <h2>{{categories.[0].name}}</h2>
        <div class="custom-card">
            
            <div class="checkboxes">
          <!-- Checkboxes here -->
                <label><input type="checkbox" name="option1" value="{{ingredients.[0].name}}">{{ingredients.[0].name}}</label><br>
                <label><input type="checkbox" name="option2" value="{{ingredients.[1].name}}">{{ingredients.[1].name}}</label><br>
                <label><input type="checkbox" name="option3" value="{{ingredients.[2].name}}">{{ingredients.[2].name}}</label><br>
                <label><input type="checkbox" name="option4" value="{{ingredients.[3].name}}">{{ingredients.[3].name}}</label><br>
                <label><input type="checkbox" name="option5" value="{{ingredients.[4].name}}">{{ingredients.[4].name}}</label><br>
                <label><input type="checkbox" name="option6" value="{{ingredients.[5].name}}">{{ingredients.[5].name}}</label><br>
            </div>
        </div>
    </div>

    <div class="wrapper question2">
        <h2>{{categories.[1].name}}</h2>
        <div class="custom-card">
        
      
            <div class="checkboxes">
                <!-- Checkboxes here -->
                <label><input type="checkbox" name="option1" value="{{ingredients.[6].name}}"> {{ingredients.[6].name}}</label><br>
                <label><input type="checkbox" name="option2" value="{{ingredients.[7].name}}"> {{ingredients.[7].name}}</label><br>
                <label><input type="checkbox" name="option3" value="{{ingredients.[8].name}}"> {{ingredients.[8].name}}</label><br>
                <label><input type="checkbox" name="option4" value="{{ingredients.[9].name}}"> {{ingredients.[9].name}}</label><br>  <!-- id 10 is half & half -->
                <label><input type="checkbox" name="option5" value="{{ingredients.[18].name}}"> {{ingredients.[18].name}}</label><br>  <!-- id 18 is none -->
            </div>
      
        </div>
    </div>

    <div class="wrapper question3">
        <h2>{{categories.[2].name}}</h2>
        <div class="custom-card">
   
      
            <div class="checkboxes">
                <!-- Checkboxes here -->
                <label><input type="checkbox" name="option1" value="{{ingredients.[10].name}}"> {{ingredients.[10].name}}</label><br>  <!-- id 9 is caramel syrup -->
                <label><input type="checkbox" name="option2" value="{{ingredients.[11].name}}"> {{ingredients.[11].name}}</label><br>
                <label><input type="checkbox" name="option3" value="{{ingredients.[12].name}}"> {{ingredients.[12].name}}</label><br>
                <label><input type="checkbox" name="option4" value="{{ingredients.[13].name}}"> {{ingredients.[13].name}}</label><br>
                <label><input type="checkbox" name="option5" value="{{ingredients.[17].name}}"> {{ingredients.[17].name}}</label><br>
                <label><input type="checkbox" name="option6" value="{{ingredients.[18].name}}"> {{ingredients.[18].name}}</label><br>
            </div>

        </div>
    </div>

    <div class="wrapper question4">
        <h2>{{categories.[3].name}}</h2>
        <div class="custom-card">
        
      
            <div class="checkboxes">
                <!-- Checkboxes here -->
                <label><input type="checkbox" name="option1" value="{{ingredients.[14].name}}"> {{ingredients.[14].name}}</label><br>
                <label><input type="checkbox" name="option2" value="{{ingredients.[15].name}}"> {{ingredients.[15].name}}</label><br>
                <label><input type="checkbox" name="option3" value="{{ingredients.[16].name}}"> {{ingredients.[17].name}}</label><br>
                <label><input type="checkbox" name="option5" value="{{ingredients.[17].name}}"> {{ingredients.[16].name}}</label><br>
                <label><input type="checkbox" name="option6" value="{{ingredients.[18].name}}"> {{ingredients.[18].name}}</label><br>
                
            </div>

        </div>
    </div>
<br>
<input id= "drink-name" type="text" placeholder="Enter drink name"></input>
<button class="submit-btn" type="submit">Save your drink!</button>
</form>
<script src='/js/customDrink.js'></script> 
